<h2 mat-dialog-title>Create New Service Request</h2>
<mat-dialog-content class="mat-typography">
    <div class="form">
        <form [formGroup]="serviceRequestForm" class="fields">

            <mat-form-field appearance="outline">
                <mat-label>Product ID</mat-label>
                <input type="text" matInput placeholder="Placeholder" formControlName="productId">
                <mat-error *ngIf="serviceRequestForm.controls['productId'].hasError('required')">Product ID is
                    required
                </mat-error>
                <mat-icon matSuffix>tag</mat-icon>
            </mat-form-field>


            <mat-form-field appearance="outline" class="extra-field">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                    <mat-option value="pending">Pending</mat-option>
                    <mat-option value="resolved">Resolved</mat-option>
                </mat-select>
                <!-- <input type="text" matInput placeholder="Placeholder" formControlName="status"> -->
                <mat-error *ngIf="serviceRequestForm.controls['status'].hasError('required')">Status is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Problem Title</mat-label>
                <input type="text" matInput placeholder="Placeholder" formControlName="problem">
                <mat-error *ngIf="serviceRequestForm.controls['problem'].hasError('required')">Problem title is
                    required
                </mat-error>
                <mat-icon matSuffix>closed_caption</mat-icon>
            </mat-form-field>



            <div class="sub-fields">

                <mat-form-field appearance="outline">
                    <mat-label>Requested date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="reqdate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="serviceRequestForm.controls['reqdate'].hasError('required')">Requested date is
                        required
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline" class="description" style="width: 156%;">
                    <mat-label>Description</mat-label>
                    <textarea type="textarea" matInput placeholder="Placeholder"
                        formControlName="description"></textarea>
                    <mat-error *ngIf="serviceRequestForm.controls['description'].hasError('required')">Description is
                        required
                    </mat-error>
                </mat-form-field>


            </div>

        </form>
    </div>

    <app-pre-loader *ngIf="isLoading"></app-pre-loader>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button cdkFocusInitial color="primary" [disabled]="!serviceRequestForm.valid"
        (click)="addNewServiceReq()">Add Service Request</button>
</mat-dialog-actions>